@import "./login.css";

body {
  font-family: sans-serif;
  padding: 0 !important;
  margin: 0 !important;
  overflow-x: hidden !important;
}

video {
  max-width: 1280px !important;
  max-height: 720px !important;
  width: 1280px;
  height: 800px;
  position: absolute;
}
.stage {
  width: 1280px;
  height: 800px;
  position: relative;
  overflow: hidden;
}

#localVideo {
  position: absolute;
  bottom: 95px;
  right: 20px;
  width: 200px;
  height: 200px;
}
#change {
  position: absolute;
  right: -100px;
  top: -300px;
  width: 100px;
}
button {
  font-size: 150%;
  text-align: center;
  display: block;
}
#change button {
  width: 60px;
  border: none;
  background: #fff;
}

#hangup {
  min-height: 40px !important;
  min-width: 100px !important;
}
#call {
  min-height: 40px !important;
  min-width: 100px !important;
}
#username {
  font-size: 18px;
  user-select: none;
}
#usernameTextInput {
  transform: scale(0.9);
}
#targetUsername {
  font-size: 18px;
}
#targetUsernameTextInput {
  transform: scale(0.9);
}
.right {
  width: 70vw;
}
.main-nav {
  width: 100vw;
  background-color: transparent;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}
.main-nav-list {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 0 !important;
}
.mdc-top-app-bar__section {
  padding: 0 !important;
}

ul {
  list-style-type: none;
}

li {
  display: flex;
  flex-direction: row;
  margin: 0 10px;
  align-items: center;
}

label {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin-right: 10px;
}
input {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.custom-button {
  /* background-color: rgb(46, 36, 126) !important; */
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
.custom-button:focus {
  border-radius: 2px;
  border-color: rgb(70, 70, 70);
  border-style: solid;
  border-radius: 5px;
}

.stage {
  margin-top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
}

/* Settings Modal */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  flex-direction: row;
  /* justify-content: center;
  align-items: center; */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;

  left: 50%;
  transform: translate(-50%, -24px);
  background-color: #fefefe;
  padding: 0;
  border: 1px solid #888;
  min-width: 470px;
  width: 40%;
  height: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

.close:hover,
.close:focus {
  color: rgb(129, 127, 127);
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  height: 15%;
  padding: 2px 16px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
}
#modal-header-container {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 100;
  /* top: 50%; */
  transform: translate(0, -55%);
}
.modal-body {
  height: 80%;
  padding: 2px 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#settings-tabs {
  width: 100%;
  height: 60px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.settings-tab {

  width: 49%;
  height: 100%;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  color: black;
}
.settings-tab:hover {
  background-color: black;
  color: white;
}
.settings-tab-selected {
  background-color: black;
  color: white !important;
}
.settings-tab-text {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 300;
  user-select: none;
}
.modal-body-post-tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin-top: 10px;
}

#modal-change-teacher-email-text > * {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
  height: fit-content;
  margin: 0;
  margin-top: 10px;
}
#modal-change-teacher-email {
  min-height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 15px;
  margin-bottom: 0px;
}
.teacher-input-div {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.change-email-error {
  color: #b00020;
  margin-top: 3px;
  margin-left: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}
#teacher-change-buttons {
  display: flex;
  justify-content: flex-start;
  /* margin-right: 30%; */
}
.photo-div {
  width: 70px;
  height: 70px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  background-image: url("https://www.cmcaindia.org/wp-content/uploads/2015/11/default-profile-picture-gmail-2.png");
}
.user-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.photo-element {
  display: flex;
  flex-direction: row;
  margin: 0 10px;
  align-items: center;
}

.photo-state {
  width: 10px;
  height: 10px;
  background-color: transparent;
  margin-top: 100%;
  transform: translate(-50%, -100%);
  margin-bottom: 5px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(32, 165, 32, 0.575);
}
#teacher-input-retype-text-field {
  margin-top: 15px;
}
.modal-footer {
  height: 5%;
  background-color: white;
  color: white;
}

/* Hand and visual timer */
#hand {
  background-image: url("../img/hand.png");
  height: 355px;
  width: 253px;
  position: absolute;
  z-index: 3;
  display: none;
  animation-name: handAnimation0;
  animation-duration: 5s;
}

@keyframes handAnimation0 {
  0% {
    left: 35%;
    top: 45%;
  }
  25% {
    left: 60%;
    top: 60%;
  }
  50% {
    left: 65%;
    top: 45%;
  }
  75% {
    left: 60%;
    top: 65%;
  }
  85% {
    left: 35%;
    top: 45%;
  }
  100% {
    left: 35%;
    top: 65%;
  }
}
@keyframes handAnimation1 {
  0% {
    left: 35%;
    top: 45%;
  }
  10% {
    left: 60%;
    top: 60%;
  }
  20% {
    left: 35%;
    top: 45%;
  }
  30% {
    left: 60%;
    top: 60%;
  }
  40% {
    left: 35%;
    top: 45%;
  }
  50% {
    left: 60%;
    top: 60%;
  }
  60% {
    left: 35%;
    top: 45%;
  }
  70% {
    left: 60%;
    top: 60%;
  }
  80% {
    left: 35%;
    top: 45%;
  }
  90% {
    left: 60%;
    top: 60%;
  }
  100% {
    left: 35%;
    top: 45%;
  }
}

.timer-group {
  height: 400px;
  margin: 0 auto;
  z-index: 3;
  width: 400px;
  left: 40%;
  color: #fff;
  font-family: sans-serif;
  padding: 20px;
  box-sizing: border-box;
  display: none;
  position: absolute;
}

.timer {
  border-radius: 50%;
  height: 100px;
  overflow: hidden;
  position: absolute;
  width: 100px;
}

.timer:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 80px;
  left: 10px;
  position: absolute;
  width: 80px;
  top: 10px;
}

.timer .hand {
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 50%;
}

.timer .hand span {
  border: 50px solid rgba(0, 255, 255, 0.4);
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 50%;
  display: block;
  height: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(225deg);
  width: 0;
}

.timer .hand:first-child {
  transform: rotate(180deg);
}

.timer .hand span {
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.timer .hand:first-child span {
  animation-name: spin1;
}

.timer .hand:last-child span {
  animation-name: spin2;
}

.timer.minute {
  background: rgba(0, 0, 0, 0.2);
  height: 350px;
  left: 25px;
  width: 350px;
  top: 25px;
}

.timer.minute .hand span {
  animation-duration: 30s;
  border-top-color: rgba(0, 255, 255, 0.4);
  border-right-color: rgba(0, 255, 255, 0.4);
  border-width: 175px;
}

.timer.minute:after {
  height: 310px;
  left: 20px;
  width: 310px;
  top: 20px;
}

.face {
  background: rgba(235, 218, 143, 0.1);
  border-radius: 50%;
  height: 250px !important;
  left: 52px;
  padding: 25px;
  position: absolute;
  width: 250px;
  text-align: center;
  top: 52px;
}

.face h2 {
  font-weight: 200;
}
.face * {
  transform: translateY(500%);
}
.face p {
  transform: translateY(500%);
  border-radius: 20px;
  font-size: 45px;
  font-weight: 400;
  position: absolute;
  top: 17px;
  width: 260px;
  left: 20px;
}

@keyframes spin1 {
  0% {
    transform: rotate(225deg);
  }
  50% {
    transform: rotate(225deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

@keyframes spin2 {
  0% {
    transform: rotate(225deg);
  }
  50% {
    transform: rotate(405deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

#is-teacher-switch-text {
  user-select: none;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
#set-student-time-group {
  display: flex;
  flex-direction: column;
  width: 50px !important;
}
#set-student-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#set-student-div-text {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.set-time-error {
  color: #b00020;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}

#calendar-widget {
  border-radius: 50%;
  width: 42px;
  height: 42px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.8s;
}
#calendar-widget:hover {
  background: #ebebeb radial-gradient(circle, transparent 1%, #ebebeb 1%) center/15000%;
}

#calendar-widget:active{
  background-color: #bbbbbb;
  background-size: 100%;
  transition: background 0s;
}
.calendar-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1; /* Sit on top */
  padding-top: 0; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* Calendar customizing */
.calendar-button-theme {
  background-color: #000000 !important;
  font-size: 18px !important;
  font-family: "Roboto", sans-serif !important;
  font-weight: 300 !important;
  display: flex !important;
  justify-content: center;
  align-items: center;

}
.fc-right {
  display: flex !important;
}
.fc-left {
  display: flex !important;
}
.fc-today-button {
  /* width: 100px !important; */
}
.calendar-button-theme > p {
  margin: 0 !important;
}

.fc-center > h2{
  font-size: 22px !important;
  font-family: "Roboto", sans-serif !important;
  font-weight: 400 !important;
}
.fc-day-header > span {
  font-size: 18px !important;
  font-family: "Roboto", sans-serif !important;
  font-weight: 300 !important;
}
.fc-axis > span {
  font-size: 18px !important;
  font-family: "Roboto", sans-serif !important;
  font-weight: 300 !important;
}
.fc-today {
  background-color: rgba(243, 237, 200, 0.548) !important;
}
.fc-divider {
  background-color: rgba(243, 237, 200, 0.548) !important;
}

.calendar-icon {
  padding-right: 5px !important;

}
